extends layout

block append stylesheets
  link(rel='stylesheet', href='/stylesheets/chat.css')

block javascripts_head
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/javascripts/lib/require.js", data-main="/javascripts/chat")

block content
  #chat-container