extends layout

block content
  header
    h1 examples
  nav
    ul
      li
        a(href="https://api.weibo.com/oauth2/authorize?client_id=1043137589&redirect_uri=http://localhost:3000/weiboapp.html&response_type=code") Login with Sina Weibo Account
      li
        a(href="/chat") Chat Room